body{
    margin: 0;
}
.desktop{
    background-color: #121212;
    height: 93vh;
    width: 100%;
}   
.taskbar{
    position: absolute;
    background-color: #3d3d3d;
    height: 7vh;
    width: 100%;
    bottom: 0;
}